{% assign base = include.base | default: "https://episodearth.synology.me/media" %}
{% assign name = include.name %}
{% assign ext = include.ext | downcase %}

{% if ext == "mp4" %}
<video controls preload="metadata" style="max-width:50%;">
  <source src="{{ base }}{{ name }}.mp4" type="video/mp4">
</video>
{% elsif ext == "jpg" or ext == "jpeg" or ext == "png" %}
<img src="{{ base }}{{ name }}.{{ ext }}" style="max-width:50%;" />
{% elsif ext == "wav" %}
<audio controls preload="metadata" style="width:50%;">
  <source src="{{ base }}{{ name }}.wav" type="audio/wav">
</audio>
{% endif %}
