/*
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #ddd;
  }
  aside {
    background: #2a2a2a;
    border-right-color: #444;
  }
  aside a {
    color: #e88daf;
  }
}*/

body { 
  margin: 0; font-family: sans-serif; 
}
    #container { 
      display: flex; 
      height: 100vh; 
    }
    aside { 
      width: 280px; 
      background: #f8f8f8; 
      padding: 1rem; 
      overflow-y: auto; 
      border-right: 1px solid #ccc; 
    }
    aside h2 {
  font-size: 1rem;
  margin-top: 1rem;
  color: #888; /* 회색빛 */
  font-weight: 600;
  cursor: pointer; /* 클릭 가능하게 */
}
    aside ul {
      padding-left: 1rem; 
    }
    aside li {
      list-style: none; 
      margin: 0.2rem 0; 
    }
    aside a { 
      text-decoration: none; 
      color: #85002c; 
    }
    a:hover {
      text-decoration: underline;
    }
    main { 
      flex: 1; padding: 2rem; overflow-y: auto; 
    }
    
    aside a.active {
    font-weight: bold;
    color: #000;
    }