/*
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #ddd;
  }
  aside {
    background: #2a2a2a;
    border-right-color: #444;
  }
  aside a {
    color: #e88daf;
  }
}*/

body {
      margin: 0;
      font-family: sans-serif;
    }
    #container {
      display: flex;
      max-width: 1500px;
      margin: 0 auto;
      height: 100vh;
    }

aside {
      width: 280px;
      background: #f8f8f8;
      padding: 1rem;
      overflow-y: auto;
      border-right: 1px solid #ccc;
    }
aside h2 {
      font-size: 1.1rem;
      margin-top: 1rem;
      color: #888;
      cursor: pointer;
    }
    aside ul {
      padding-left: 1rem;
    }
    aside li {
      list-style: none;
      margin: 0.2rem 0;
    }
    aside a {
      text-decoration: none;
      color: #85002c;
    }
main {
      flex: 1;
      padding: 2rem;
      overflow-y: auto;
    }
    #tags {
      width: 200px;
      padding: 1rem;
      border-left: 1px solid #ccc;
      background: #fff;
    }
    #tags h2 {
      margin-top: 0;
    }
    #tags ul {
  list-style: none;
  padding-left: 0;
}
#tags li {
  margin: 0.5rem 0;
}
#tags a {
  color: #85002c;
  text-decoration: none;
}
#tags a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

  aside h2 {
  font-size: 1rem;
  margin-top: 1rem;
  color: #888; /* 회색빛 */
  font-weight: 600;
  cursor: pointer; /* 클릭 가능하게 */
}
    aside ul {
      padding-left: 1rem; 
    }
    aside li {
      list-style: none; 
      margin: 0.2rem 0; 
      font-size: 1rem ;
    }
    aside a { 
      text-decoration: none; 
      color: #85002c; 
    }
    a:hover {
      text-decoration: underline;
    }
        
    aside a.active {
    font-weight: bold;
    color: #000;
    }